.nav {
	border-width: 1px 0;
	list-style: none;
	margin: 0;
	padding: 1px;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	font-family: 'Playfair Display SC', serif;
}

.navbar-brand {
	font-family: 'Playfair Display SC', serif;
	font-size: 26px;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding: 10px;
}

header {
	background:
		linear-gradient(
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.5)
		),
		url(https://bootcamp-coders.cnm.edu/~ecorsi/my-pwp-joy/public_html/images/blurred-bg.jpg);
	background-size: cover;
	margin: 5px;
	height: 94vh;
	box-shadow: 2px 2px 6px 6px #aaa;
	font-family: 'Playfair Display SC', serif;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
}

h1 {
	text-transform: uppercase;
	margin: 0;
	font-size: 8vw;
	white-space: nowrap;
	text-shadow: 1px 1px 0 #000;
}

.header-links {
	text-shadow: 1px 1px 0 #000;
}

.brightness {
	background-color: white;
	display: inline-block;
}

.brightness img:hover {
	opacity: .8;
}

.img {
	box-shadow: 8px 8px 10px #aaa;
	align-items: center;
}

.img-opacity {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.7;
}


a:link, a:visited, a:active {
	text-decoration: none; color: floralwhite;
}

a:hover {
	text-decoration: none; color: darkgoldenrod;

}

.container {
	max-width: 150px;
	text-align: center;
}

.shadow-box {
	box-shadow: 4px 4px 4px 6px #aaa;
}

.font {
	font-family: 'Playfair Display', serif;
	font-size: 14px;
}

.font-footer {
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	color: white;
}

.jumbo-img {
	box-shadow: 2px 2px 6px 6px #aaa;
}

.ease-page-transition {
	animation-duration: 0.25s;
	transition-timing-function: ease-in;
}

.contact-form {
	width: 50%;
	margin: 0 auto;
}

.contact-form .form-control {
	border:none;
	box-shadow:none;
	border-radius:0;
	border-bottom: 1px solid #cfd8dc;
	transition: 1s ease;
}

.contact-form .form-control:focus {
	transition: 1s ease;
	border-bottom: 1px solid #2abfcc;
}
