
.brightness {
	background-color: white;
	display: inline-block;
}

.brightness img:hover {
	opacity: .8;
}

.img {
	box-shadow: 8px 8px 10px #aaa;
	align-items: center;
}

a:link, a:visited, a:active {
	text-decoration: none; color: #020202;
}

a:hover {
	text-decoration: none; color: #18657a;
}
