
.brightness {
	background-color: white;
	display: inline-block;
}

.brightness img:hover {
	-webkit-transition-duration: 700ms;
	-moz-transition-duration: 700ms;
	-o-transition-duration: 700ms;
	transition-duration: 700ms;
	opacity: .8;
}

.img {
	box-shadow: 8px 8px 10px #aaa;
	align-items: center;
}

a:link, a:visited, a:active {
	text-decoration: none; color: #020202;
}

a:hover {
	text-decoration: none; color: #18657a;
}

.sliding-middle-out {
	display: inline-block;
	position:relative;
	padding-bottom: 3px;
}

.sliding-middle-out:after {
	display: block;
	margin: auto;
	height: 3px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

.sliding-middle-out:after {
	width: 100%;
	background: cadetblue;
}